.badge {
  max-width: max-content;
  font-size: 14px;
}

.page-title {
  margin: 80px 0px 80px 0px;
}

.card {
  min-height: 350px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 51px -6px rgba(0, 0, 0, 0.2);

  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  padding-bottom: 20px;
}

.card .card-title {
  margin-top: 10px;
  font-weight: bold;
  color: #a32155;
}

.card .card-title i {
  cursor: pointer;
}
.card .drop-menu {
  position: absolute;
  right: 19px;
  top: 30px;
}

.card .card-description {
  color: black;
}

.card .card-bottom .date-wrapper {
  margin: 0;
}

.card .card-top {
  padding: 20px;
}

.card .card-title i {
  color: rgba(0, 0, 0, 0.523);
}

.card .card-bottom {
  padding-left: 20px;
  padding-right: 0;
  color: #57112d;
}

.card .card-bottom i {
  font-size: 18px;
}

.card .col-4 {
  padding: 0;
  margin: 5px;
}

.tag {
  background: #d62b70;
  height: fit-content;
  padding-inline: 20px;
  border-radius: 10px.;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}
