<div class="card">
  <div class="card-top">
    <h4 class="card-title d-flex justify-content-between">
      {{ taskData.title }}

      <div ngbDropdown container="body">
        <i ngbDropdownToggle class="bi bi-three-dots-vertical"></i>

        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="open(taskData)">Editar</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="deleteTask(taskData.id!)">
            Deletar
          </button>
        </div>
      </div>
    </h4>

    <div class="card-description">
      <p>{{ taskData.description }}</p>
    </div>
  </div>

  <div class="card-bottom">
    <div class="d-flex justify-content-between">
      <p class="date-wrapper">
        <i class="bi bi-calendar4-week"></i>
        {{ taskData.date_hour | date : "dd/MM/yyyy" }}
      </p>
      <div class="tag">
        <i class="bi bi-clock"></i> {{ taskData.duration_time }} min
      </div>
    </div>

    <div class=""><i class="bi bi-geo-alt"></i> {{ taskData.place }}</div>
  </div>
</div>
