.container {
  padding-top: 30px;
}

.navbar {
  background-color: none;
}

.logo {
  max-width: 190px;
}

.form-inline {
  display: flex;
  margin: 10px;
}

.btn-submit {
  color: #fff;
  background-color: #d62b70;
}

.search {
  cursor: pointer;
  color: #d62b70;
  font-size: 20px;
  margin-inline: 10px;
}
