<!-- <div class="container mt-4">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="tasks"
    keyExpr="ID"
    [columns]="['title', 'description', 'place', 'date_hour', 'duration_time']"
    [showBorders]="true"
    [remoteOperations]="true"
  >
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Search..."
    ></dxo-search-panel>
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>

    <dxo-editing
      mode="row"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
    ></dxo-editing>
    <dxo-paging [pageSize]="5"></dxo-paging>
  </dx-data-grid>
</div> -->
