/* .page-title {
  margin: 80px 0px 80px 0px;
} */

.add-task {
  width: max-content;
  background: #d62b70;
  padding: 8px;
  font-size: 18px;
  border-radius: 30px;
  padding-right: 15px;
  color: #fff;
  cursor: pointer;
}

.text {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.53);
  margin-top: 30px;
  font-size: 18px;
}
