<div class="container">
  <div class="row">
    <div class="col">
      <div class="row mt-4">
        <p class="text">RxJS</p>
      </div>

      <div class="row">
        <!-- @for (task of task_list$ | async; track $index) { -->

        <!-- <input #data type="text" (blur)="changeTaskTitle(data.value)" /> -->

        @for (task of task_list$ | async; track $index) {
        <div class="col-sm-6">
          <app-card [taskData]="task"></app-card>
        </div>
        }

        <div class="col-sm-6">
          <app-modal-form></app-modal-form>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row mt-4">
        <p class="text">Signals</p>
      </div>

      <div class="row">
        <!-- @for (task of task_list$ | async; track $index) { -->

        <!-- <input #data type="text" (blur)="changeTaskTitle(data.value)" /> -->

        @for (task of taskSignalList(); track $index) {
        <div class="col-sm-6">
          <app-card [taskData]="task"></app-card>
        </div>
        }

        <div class="col-sm-6">
          <app-modal-form></app-modal-form>
        </div>
      </div>
    </div>
  </div>
</div>
